// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

a {
    color: #fff;
}

md-content {
    background-color: transparent !important;
}

::-webkit-scrollbar {
    height: .5rem;
    width: .5rem;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
::-webkit-scrollbar-thumb {
    background: $gray-darker;
}