// -----------------------------------------------------------------------------
// This file contains CSS helper classes. 
// -----------------------------------------------------------------------------

/* Size ----------------------------------------------------------------------*/
.s {
    &24 {
        height: 24px;
        width: 24px;
    }
    &36 {
        height: 36px;
        width: 36px;
    }
    &48 {
        height: 48px;
        width: 48px;
    }
    &64 {
        height: 64px;
        width: 64px;
    }
}

/* Typography ----------------------------------------------------------------*/
.text-{
    &center { text-align: center; }
    &small { font-size: $small-font-size; }
    &decoration-none { text-decoration: none; }
    &white { color: #fff; }
}