// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
//
// Grayscale and brand colors for use across the app.
$gray-darkest:              #373a3c;
$gray-darker:               #666666;
$gray-dark:                 #424242;
$gray:                      #a9a9a9;
$gray-light:                #b5b5b5;
$gray-light-2:              #eeeeee;
$gray-lighter:              #f7f7f9;
$gray-lightest:             #fafafa;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$small-font-size:           .8rem;

// Spacing
//
// Control the spacing of margin, padding

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
) !default;