// -----------------------------------------------------------------------------
// This file contains all styles related to the button.
// -----------------------------------------------------------------------------

 md-input-container {
    &.md-input-normal {
        md-icon { color: rgba(255,255,255,1.0) !important; }
        .md-input, md-select, md-select .md-select-value { border-color: rgba(255,255,255,0.12) !important; }
        label, label:after, md-select-value span, md-select-value span:after { color: rgba(255,255,255,0.5) !important; }
    }
} 